block navigation
  nav.sidebar
    ul.side-nav
      li.side-nav__item.side-nav__item--active
        a.side-nav__link(href="#")
          svg.side-nav__icon
            use(xlink:href="../../assets/img/sprite.svg#icon-home")
          span Hotels
      li.side-nav__item
        a.side-nav__link(href="#")
          svg.side-nav__icon
            use(xlink:href="../../assets/img/sprite.svg#icon-aircraft-take-off")
          span Flights
      li.side-nav__item
        a.side-nav__link(href="#")
          svg.side-nav__icon
            use(xlink:href="../../assets/img/sprite.svg#icon-key")
          span Car Rentals
      li.side-nav__item
        a.side-nav__link(href="#")
          svg.side-nav__icon
            use(xlink:href="../../assets/img/sprite.svg#icon-map")
          span Tours
    .legal
      | &copy; 2017 by Trillo. All rights reserved