.overview {
  display: flex;
  align-items: center;
  border-bottom: var(--line);

  &__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem;

    @media only screen and (max-width: $bp-small) {
      font-size: 1.8rem;
      padding: 1rem 2rem;
    }
  }

  &__stars {
    margin-right: auto;
    display: flex;
  }

  &__location {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
  }

  &__icon--location {
    margin-right: .5rem;
  }

  [class^="overview__icon--"] {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary);
  }

  &__rating {
    background-color: var(--color-primary);
    color: #FFF;
    margin-left: 3rem;
    align-self: stretch;
    padding: 0 2.25rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: $bp-small) {
      padding: 0 1.5rem;
    }

    &--average {
      font-size: 2.25rem;
      font-weight: 300;
      margin-bottom: -3px;

      @media only screen and (max-width: $bp-small) {
        font-size: 1.8rem;
      }

    }

    &--count {
      font-size: .8rem;
      text-transform: uppercase;

      @media only screen and (max-width: $bp-small) {
        font-size: .5rem;
      }
    }
  }


}